@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    padding:0px;
    background-color: #c9d6ff;
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    margin: 0 auto 0 auto;
    width: 500px;
    padding:50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-signin{
    left: auto;
}
input[type="submit"]{
    background-color: black;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type="submit"]:hover{
    transition-duration: 0.2s;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}